<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add event</title>
</head>
<body>
<h1>Add event</h1>

<form action="{% url 'events:add_done'%}" method="post">
    {% csrf_token %}
    <label for="name">Event name: </label>
    <input type="text" name="name" id="name" required><br>
    <label for="date">Event date: </label>
    <input type="date" name="date" id="date" required><br>
    <label for="start_time">Event Start Time: </label>
    <input type="time" name ="start_time" id="start_time" required><br>
    <label for="end_time">Event End Time: </label>
    <input type="time" name ="end_time" id="end_time" required><br>  
<input type="submit" value="Add event">
</form>
</body>
</html>