<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="ppm.css">
</head>
<body>


<table>
    <body>
        <tr>
            <th>08:00</th>
	    <td colspan="8" rowspan="2" class="stage-saturn">Welcome</td>
        </tr>
        <tr>
            <th>08:30</th>
        </tr>
        <tr>
            <th>09:00</th>
        </tr>
        <tr>
            <th>09:30</th>
        </tr>
        <tr>
            <th>10:00</th>
        </tr>
        <tr>
            <th>10:30</th>
        </tr>
        <tr>
            <th>11:00</th>
        </tr>
        <tr>
            <th>11:30</th>
        </tr>
        <tr>
            <th>12:00</th>
            
        </tr>
        <tr>
            <th>12:30</th>
        </tr>
        <tr>
            <th>13:00</th>
        </tr>
        <tr>
            <th>13:30</th>
        </tr>
        <tr>
            <th>14:00</th>
        </tr>
        <tr>
            <th>14:30</th>
        </tr>
        <tr>
            <th>15:00</th>
        </tr>
        <tr>
            <th>15:30</th>
        </tr>
        <tr>
            <th>16:00</th>
        </tr>
        <tr>
            <th>16:30</th>
        </tr>
        <tr>
            <th>17:00</th>
        </tr>
        <tr>
            <th>17:30</th>
        </tr>
        <tr>
            <th>18:00</th>
        </tr>
        <tr>
            <th>18:30</th>
        </tr>
        <tr>
            <th>19:00</th>
        </tr>
        <tr>
            <th>19:30</th>
        </tr>
        <tr>
            <th>20:00</th>
        </tr>
        <tr>
            <th>20:30</th>
            <td colspan="10" rowspan="2" class="stage-saturn">Drinks</td>
        </tr>
        <tr>
            <th>21:00</th>
        </tr>
    </body>
</table>

</body>
</html>

Resources