{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("{% static 'back.jpg' %}");
            background-position: center;
            background-attachment: scroll;
        }
    </style>
    <title>Login</title>
</head>
<body>
<div style="padding-left: 30%; padding-right: 30%; padding-top: 15%;">
    <div class="panel panel-default">
        <form class="panel-body" action="" method="post">
            {% csrf_token %}
            <label style = "text-align: center;">Password reset sent</label>
		    <br>
		    <br>
            <div class="form-group">
                <p>We've emailed you instructions for resetting your
                    password, if an account exists with the email you
                    entered. You should receive them shortly.</p>
            </div>
            <div class="form-group">
                <p>If you don't receive an email, please make sure
                you've entered a correct email address and check
                your spam folder.</p>
            </div>
        </form>
    </div>
</div>
</body>
</html>