{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("{% static 'back.jpg' %}");
            background-position: center;
            background-attachment: scroll;
        }
    </style>
    <title>Login</title>
</head>
<body>
<div style="padding-left: 30%; padding-right: 30%; padding-top: 15%;">
    <div class="panel panel-default">
        <form class="panel-body" action="{% url 'events:login_page' %}" method="post">
            {% csrf_token %}
            <label style = "text-align: center;">Password reset complete</label>
		    <br>
		    <br>
            <div class="form-group">
                <p>Your password has been set. You may go ahead and log in now.</p>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>
</div>
</body>
</html>