body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
  width: 100%;
  max-width: 50rem;
}
table tr:nth-child(even) th {
  color: #ccc;
  font-weight: normal;
}
table th,
table td {
  color:white;
  padding: 0.5rem 1rem;
}
table th {
  font-weight: normal;
  border-top: thin dotted #ccc;
}
table td {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
table td > span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}
